@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: rgba(255, 144, 14, 0.10);
}

main{
    max-width: 1100px;
    margin: 0 auto;

}

/*nav section*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.nav-heading{
    color: #131313;
    font-size: 3rem;
    font-family: work sans;
    font-weight: bold;}

ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
}

ul li{
    list-style: none;
}

.nav-items{
    display: flex;
    gap: 40px;
}

/*banner section*/
.banner{
    text-align: center;
    margin-top: 100px;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    font-family: work sans;
}

.banner-description{
    font-size: 1rem;
    font-family: work sans;
    color: #727272;
}

.banner-btn{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 64px;
}

.banner-image{
    width: 1100px;
    height: 500px;
    margin: 50px auto;
}

/*feature section*/
.Feature-section{
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.our-features{
    margin-left: 70px;
}

.image{
    width: 300px;
    height: 300px;
}

.feature-image{
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-description{
    color: #727272;
    font-family: work sans;
}

.feature-title{
    font-size: 3rem;
    font-family: work sans;
}

.quick{
    color: #727272;
    font-size: 3rem;
    font-family: work sans;
    font-weight: 500;
}

.color-feature{
    color: #FF900E;
    font-size: 3rem;
    font-family: work sans;
}

/*project-section*/
.project-title{
    margin-top: 130px;
    font-size: 2rem;
    font-weight: bold;
    font-family: work sans;
}

.project-description{
    margin-bottom: 100px;
    font-size: 1rem;
    color: #727272;
    font-family: work sans;
}

.card-container{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    text-align: center;
}
.card-items-1, .card-items-2, .card-items-3, .card-items-4{
    border: 1px solid #FF900E;
    width: 250px;
    height: 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 20px 70px 40px 70px;
    box-sizing: border-box;
}

.box-title{
    font-size: 2rem;
    font-weight: 600;
    color: #424242;
    font-family: work sans;
    padding-top: 10px;
    margin: 0%;
}

.box-description{
    font-size: 1rem;
    font-weight: 600;
    color: #727272;
    font-family: work sans;
    padding: 10px;
    margin: 0%;
}

/*sponsor section*/
.sponsor-title{
    margin-top: 130px;
    font-size: 2rem;
    font-weight: bold;
    font-family: work sans;  
}

.sponsor-description{
    margin-bottom: 100px;
    font-size: 1rem;
    color: #727272;
    font-family: work sans;
}

.sponsor-header{
    text-align: center;
    /* width: 400px;
    height: 100px; */
}

.sponsor-image{
    display: flex;
    gap: 60px;
    filter: grayscale(100%);
}


/*footer section*/
footer{
    background-color: rgba(255, 144, 14, 0.10);
    max-width: 1100px;
    height: 80px;
    border-radius: 8px;
    margin: 100px auto;  
}

.footer-description{
    margin-top: 100px;
    padding: 30px 150px;
    font-size: 1rem;
    font-family: work sans;
    color: #424242;   
}

/*responsive media query*/
@media screen and (max-width: 576px) {
    .nav, .nav-items, .feature-section{
        flex-direction: column;  
    }

    .feature-image{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin-left: 20px;
    }
    
}